td>p {
  font-size: 14pt;
}

footer {
  position: relative;
  background: #333230;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  height: 3em;
  line-height: 3em;
  font-family: Impact;
  font-size: 20px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: bold;
}

footer>a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

footer>a:hover {
  color: red;
  text-decoration: none;
}

#topBlock {
  overflow: hidden;
}

#catalog {
  padding-top: 30px;
  background: grey;
  text-align: center;
}

#installation {
  background: grey;
}

p.normal {
  font-size: 18px;
  font-weight: bold;
  text-indent: 20px;
}

p.red {
  font-size: 14px;
  font-weight: bold;
  text-indent: 20px;
  color: red;
}

.title {
  font-weight: bold;
  color: red;
  font-size: 22px;
}

.title_block {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  padding-left: 15px;
  padding-bottom: 25px;
  background: white;
  opacity: 0.7;
  z-index: 10;
}

.logo {
  display: inline-block;
}

.logo img {
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 20px;
  width: 50px;
}

.logo_text {
  display: inline-block;
  vertical-align: middle;
}

.container>.navbar-collapse, .container>.navbar-header {
  margin-right: 0;
  padding-right: 15px;
  margin-left: 0px;
}

.navbar-default {
  border: none !important;
  outline: none !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-default .navbar-nav>li {
  width: calc(100%/5 - 20px);
}

.navbar-default .navbar-nav>li.authorization.info {
  right: -20px;
  padding-left: 5px;
}

.navbar-default .navbar-nav>li>a {
  font-size: 22px;
  color: black;
  font-weight: bold;
  text-align: center;
  display: table-cell;
  height: 65px;
  vertical-align: middle;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: red !important;
  background-color: transparent;
}

.navbar-default .navbar-nav>li.authorization>a:hover, .navbar-default .navbar-nav>li.authorization>a:focus {
  text-decoration: underline;
  color: white !important;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: red !important;
  margin-top: 15px;
}

.navbar-toggle {
  margin-right: 0 !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: red !important;
}

.navbar-collapse {
  padding: 0 !important;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 5px 5px;
  padding-top: 20px;
}

.nopadding {
  padding: 0;
}

.nomargin {
  margin: 0;
}

.authorization {
  background: red;
  padding-left: 10px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 10px;
  text-align: center;
  position: absolute !important;
  right: -15px;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
  transform: skew(30deg);
}

.authorization>a {
  color: white !important;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  transform: skew(-30deg);
}

.info {
  padding-left: 3%;
  font-family: Impact;
  font-size: 20px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 14px;
  color: black;
}

h2.info, .info>a {
  color: white;
  padding-bottom: 20px;
}

.application {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 30px;
  margin-top: -340px;
  background-color: black;
  opacity: 0.7;
}

.col-sm-4 {
  margin-bottom: 10px;
}

.contacts-doors {
  display: inline-flex;
  position: relative;
  width: 100%;
  outline: none;
  font-family: serif;
  font-size: 16px;
  overflow: hidden;
  text-align: center;
  background: black;
}

.doors {
  width: 100%;
  left: 2%;
}

.red-title {
  font-weight: 20px bold;
  color: red;
  margin-bottom: 30px;
  text-align: center;
}

.doors>p {
  color: white;
  margin-bottom: 50px;
}

.contacts {
  background-color: white;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  transform: skew(-30deg);
  width: 130%;
  padding-right: 8%;
  right: -8%;
}

.contacts-text {
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
  transform: skew(30deg);
}

.xs {
  position: relative;
  width: 100%;
}

.doors-xs {
  padding: 10px;
  background: black;
}

.doors-xs>p {
  color: white;
  margin-bottom: 50px;
}

.message-form {
  text-align: center;
  padding: 3%;
  max-width: 700px;
  background: black;
  opacity: 0.8;
  border-radius: 20px;
}

.image-message {
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
  width: 100%;
  text-align: -webkit-center;
  background: url(../img/home.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.list-payment {
  font-size: 20px;
}

@media (max-width:991px) {
  .navbar-nav {
    float: none!important;
    margin: 7.5px 15px;
    text-align: center;
    background-color: white;
    opacity: 0.6;
  }
}

@media (min-width:844px) {
  .list-payment {
    margin-left: 30%;
  }
}

@media (min-width:768px) {
  .container {
    width: 100% !important;
  }
}

@media (max-width:991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px 15px;
  }
  .navbar-nav>li {
    float: none;
    width: 100% !important;
  }
  .navbar-default .navbar-nav>li>a {
    display: block;
    height: auto;
  }
  .navbar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    width: auto;
    float: none!important;
  }
}
